@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 py-1 border rounded-full text-sm font-semibold focus:outline-none focus:ring-2 focus:ring-offset-2 hover:text-white hover:border-transparent dark:focus:ring-offset-gray-800 dark:focus:border-transparent;
    @apply p-2;
  }
  
  .btn-purple {
    @apply border-purple-200 text-purple-600 hover:bg-purple-600 focus:ring-purple-600 dark:text-purple-400;
  }
  
  .btn-green {
    @apply border-green-200 text-green-600 hover:bg-green-600 focus:ring-green-600 dark:text-green-400;
  }
}

@layer base {
  h1 {
    @apply text-2xl;
  }
}

@layer utilities {
  .text-body {
    font-size: 16px;
  }


  /* Grid css */

  .flex-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
  }
  
  .flex-container > div:nth-child(1n) {
    background-color: #06d6a0;
  }
  
  .flex-container > div:nth-child(3n) {
    background-color: #118ab2;
  }
  
  .flex-container > div:nth-child(2n) {
    background-color: #ef476f;
  }
  
  .flex-container > div:nth-child(4n) {
    background-color: #ffd166;
  }

  .grid-layout{
    height: 100vh;
    display: grid;
    grid-template-columns: 100px auto 100px;
    /* grid-template-rows: 1fr 200px; */
  }

  /* .grid-layout > * {
    grid-column: 2;
  } */

  .grid-layout > * {
    height: 400px;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-footer {
    grid-column: 1 / -1;
  }

  .grid-container {
    /* display: grid; */
    /* grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 3fr; */
    /* grid-template: 2fr 3fr / 1fr 2fr; */
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 5px;
    column-gap: 5px; */
    height: 100vh;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    
    /* grid-template-rows: 50px auto 50px; */
    /* grid-template-rows: repeat(1, 1fr); */
    /* grid-auto-rows: 1fr; */
    /* grid-template-areas: 
    "h h h h h h h h h h h h"
    "m m c c c c c c c c c c"
    "f f f f f f f f f f f f"; */

    /* grid-template-columns: repeat(5, 100px); */
    /* grid-template-rows: repeat(2, 100px); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    row-gap: 3px;
    column-gap: 3px;
    grid-auto-flow: dense;
    /* justify-content: center;
    align-content: center; */
    /* justify-items: center;
    align-items: center; */
  }

  .grid-container .img {
    width: 100%;
    height: 100%;
  }

  .big {
    grid-column: auto / span 3;
    grid-row: auto / span 2;
  }

  .horizontal {
    grid-column: auto / span 3;
  }

  .vertical {
    grid-row: auto / span 2;
  }

  /* .seven {
    justify-self: center;
    align-self: center;
  } */

  .header {
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1 / 3; */
    /* grid-column: 2 / -1; */
    grid-area: h;
  }

  .footer {
    /* grid-column: 1 / -1; */
    grid-area: f;
  }

  .content {
    /* grid-column: 2 / -1; */
    grid-area: c;
  }

  .menu {
    /* grid-row: 1 / 3; */
    grid-area: m;
  }


  /* Flex css */

  .container {
    max-width: 450px;
    margin: 2rem auto;
    padding: 0.5rem;
  }
  
  img {
    width: 100px;
    float: left;
  }
  
  h2 {
    font-weight: bold;
  }
  
  main {
    background-color: skyblue;
    padding: 0.5rem;
    border: 1px solid #666;
    /* overflow: auto; */
  }
  
  section:first-of-type {
    background-color: thistle;
    padding: 0.5rem;
    border: 1px solid #666;
  }
  
  section:last-of-type {
    background-color: turquoise;
    padding: 0.5rem;
    border: 1px solid #666;
  }
  
  /* float */
  .float {
    margin: 1rem 0 2rem;
    overflow: auto ;
  }
  
  .float section:first-of-type {
    float: left;
    width: 50%;
  }
  
  .float section:last-of-type {
    float: right;
    width: 50%;
  }
  
  /* flex */
  .flexbox {
    margin: 1rem 0 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  
  .flexbox > main {
    flex-basis: 100%;
  }
  
  .flexbox section {
    flex-basis: 50%;
    flex-grow: 1;
  }
}



input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


